/* Classi generiche */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'PT Sans', sans-serif;
}

.d-flex{
    display: flex;
}

.d-space-between{
    justify-content: space-between;
}

.d-space-around{
    justify-content: space-around;
}

.d-column{
    display: flex;
    flex-direction: column;
}

.d-center{
    justify-content: center;
    align-items: center;
}

.max-height{
    height: 100%;
}

.half-height{
    height: 50%;
}

.max-width{
    width: 100%;
}

.half-width{
    width: 50%;
}

.width-70-auto{
    width: 70%;
    margin: 0 auto;
}

.font-small{
    font-size: small;
}

.col-3{
    width: calc(100% / 3);
    margin: 0 10px;
    border-radius: 20px;
}

.bg-color{
    background-color: rgb(151, 146, 228);
}

.color-white{
    color: white;
}

/* CLASSI PAGINA */


/* classi header */

header{
    background-color: rgb(0, 132, 253);
    height: 70px;
}

.nav{
    text-decoration: none;
}

.nav img{
    height: 70%;
}

.search{
    width: 45%;
    align-items: center;
}

.search > div{
    width: 20%;
}

.get-started{
    background-color: white;
    color: black;
    height: 30px;
    border-radius: 15px;
}

/* classi main */

main{
    margin-top: 50px;
}

.quality-section{
    margin-bottom: 20px;

}

.apple{
    font-size: 1em!important;
    margin-right: 5px;
    font-weight: bold;
}

.div-apple{
    width: 150px;
    height: 30px;
    background-color: #0084fd;
    border-radius: 20px;
}

.col-demo{
    margin: 0 10px;
    width: calc(((100% / 3) * 2) + 22px);
    border-radius: 20px;
}

.col-3, .col-demo{
    padding: 0 15px;
}

.quality-section > div{
    background-color: rgb(181, 221, 255);
}

.quality-section img{
    height: 80%;
    margin-top: 70px;
}

.quality-section i,h4,p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.quality-section i{
    font-size: 5em;
}

.quality-section h4{
    color: #0084fd;
    font-size: large;
    font-weight: bold;
}

.icons{
    height: 35%;
    padding-top: 40px;
}

.paragraph{
    height: 40%;
    line-height: 2em;
    font-weight: bold;
    color: rgb(90, 110, 127);
}

.div-planning1-img{
    height: 60%;
    align-items: end;
}

.div-planning1-paragraph{
    padding: 25px 0;
    height: 40%;
    color: white
}

.div-planning2{
    background-color: white;
    height: 60%;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 30px;
}

.div-down{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0 auto;
}

.div-testimonials{
    height: 200px;

}

.div-testimonials h4, h2, p{
    text-align: center;
}

.div-testimonials h2{
    font-size: xx-large;
    color:  rgb(151, 146, 228);
}

.testimonial-comment{
    height: 400px;
    border-radius: 80px;
}

.testimonial-comment > div{
    margin-top: 30px;
    border-radius: 30px;
}

.rounded-image{
    border-radius: 50%; 
    display: block;
    margin: 0 auto; 
    padding: 20px;
    width: 190px;
}

.content-image{
    width: 30%;
}

.comment-testimonial{
    padding: 30px;
}

.comment-testimonial h3{
    margin-top: 20px;
}

.benefits{
    margin-top: 150px;
}

.other-section{
    background-color: white!important;
}

.other-section h4,h2{
    color: rgb(151, 146, 228)
}

.other-section h2{
    font-size: 5em;
}

.other-section p{
    display: flex;
    align-items: end;
}

.more{
    width: 40%;
    height: 40px;
    border-radius: 30px;
}

.about-paragraph{
    width: 80%;
    line-height: 2.5em;
    padding: 30px;
}

.about-paragraph *{
    margin: 15px 0;
    text-align: start;
}

.about-paragraph h2{
    font-size: 3em;
}

.about-photo{
    width: 20%;
    padding-top: 30px;
}

.about-photo img{
    border-radius: 100px;
}

.about-photo p{
    margin-top: 15px;
    line-height: 1.5em;
    color: rgb(151, 146, 228);
    font-weight: bold;
}

.about-photo div{
    margin-top: 15px;
    color: white;
    height: 35px;
    font-size: small;
    border-radius: 30px;
}

.start-it{
    margin: 0 auto;
}

.start-it *{
    text-align: center;
}

.start-it h3{
    font-size: 2em;
}

.start-it h2{
    font-size: 4em;
    color: rgb(253, 193, 95)
}

.start-it .get-started{
    width: 60%;
    margin: 0 auto;
    height: 50px;
    border-radius: 50px;
}

.get-started span{
    color: rgb(151, 146, 228);
}

/* css footer */

footer{
    background-color: rgb(51, 51, 51);
}

.last-div{
    width: 30%;
    margin: 0 auto;
}


/* CSS RESPONSIVE */

.d-none{
    display: none;
}

@media all and (max-width:1280px){
    .width-70-auto{
        width: 95%;
    }
}

@media all and (max-width: 950px) {
    .search > div{
        display: none;
    }
    .d-none{
        display: flex!important;
        width: 100%;
        height: 100%;
        font-size: 1.5em;
        justify-content: end;
        align-items: center;
    }
    .search{
        justify-content: end;
    }
}

@media all and (max-width: 885px) {
    .col-demo{
        flex-direction: column;
    }

    .col-demo:first-child{
        width: 100%;
    }

    .col-demo > div{
        height: 50%;
    }

    .col-demo img{
        margin-top: 55px;
    }

    .block-demo{
        height: 1100px!important;
    }

    .planning-block{
        height: unset!important;
    }

    .planning-block > div{
        flex-direction: column;
    }

    .planning-block > div > div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-planning1-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonial-comment{
        height: unset;
    }

    .benefits .col-3{
        width: 40%;
    }

    .quality-section{
        
    }
}